---
const {
  title,
  img,
  desc,
  url,
  badge,
  tags,
  target = "_blank",
  newsPanel,
} = Astro.props;
import {Image} from "astro:assets"
---

<div
  class="rounded-3xl bg-base-200 p-1 transition ease-in-out hover:bg-neutral portrait:hover:scale-95 active:bg-base-300/70"
>
  <a href={url} target={target}>
    <div
      class={`hero-content flex-col  md:flex-row ${
        newsPanel === true && "flex-wrap p-2"
      }`}
    >
      {
        img && (
          <Image
            src={img}
            height={250}
            width={450}
            format="webp"
            alt={title}
            class="flex w-full max-w-full rounded-xl md:max-w-[13rem]"
          />
        )
      }
      <div class="w-full grow">
        <h2 class="text-xl font-bold">
          {title}
          {
            badge && (
              <div class="gradient badge-primary badge mx-2 border-none">
                {badge}
              </div>
            )
          }
        </h2>
        <p class="text-1xl py-1">{desc}</p>
        <div class="card-actions justify-start">
          {
            tags &&
              tags
                .split(" ")
                .map((tag) => (
                  <div class="badge-outline border-primary text-primary badge">
                    {tag}
                  </div>
                ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
